body{
  background-color: #4847C4;
  color: white;
}
button{
  background: none;
  border: none;
  font: inherit;
}
button svg{
  pointer-events: none;
}

/*hands*/
#hand-fight{
  display: flex;
  justify-content: space-between;
  overflow-x: clip;
}
.hand-box{
  width: 40%;
  position: relative;
  animation: shake 575ms ease-out 4;
}
.hand-box > img{
  width: 100%;
}
.hand-box.right{
  rotate: -45deg;
}
.hand-box.left{
  scale: -1 1;
  rotate: 45deg;
}

/*actions*/
#action-panel{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}
.action-button{
  background-color: #363593;
  padding: 1rem;
  border-radius: 50%;
}
.action-button.selected{
  background-color: #766CAA;
}
.action-button:disabled{
  opacity: .5;
}
.action-button > svg{
  fill: white;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

@keyframes shake {
  from{
    top: 0;
  }
  30%{
    top: 9vh;
  }
  70%{
    top: -5vh;
  }
  to{
    top: 0;
  }
}